.navbar {
    background: white;
    font-size: x-large;
}

.footer {
    background: lightpink;
    width: fit-content;
    font-size: medium;
}

/* ボタンを中央に配置するスタイル */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* ページの高さいっぱいに表示 */
}

/* ボタンのスタイル */
.center-container button {
    background-color: white;
    color: blue;
    width: 260px;
    height: auto;
    font-size: x-large;
    border: none; /* ボタンの枠線を削除 */
    outline: none; /* ボタンがフォーカスされた際のアウトラインを削除 */
    text-decoration: none; /* ボタンテキストの下線を初期状態で非表示 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

/* ボタンにカーソルが重なったときのスタイル */
.center-container button:hover {
    text-decoration: underline; /* カーソルが重なったときに下線を表示 */
}

/* 画像のスタイル */
.center-container img {
    display: flex;
    margin-top: 20px; /* ボタンとの間隔を調整 */
    cursor: pointer; /* カーソルをポインターに変更 */
}